h1{
  font-weight: bold ;
  text-align: center;
}

th,td{
  padding: 10px;
}

#arret-depart,#arret-fin{
  border-style: dashed;
}

#arret-depart:focus,#arret-fin{
    outline: none;

}
/* Set the font family for the whole page */
body {
  font-family: 'Arial', sans-serif;
}

/* Style the table */
table {
  border-collapse: collapse;
  width: 100%;
}


tr:nth-child(even) {
  background-color: #dddddd;
}

/* Style the button */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}
input{
  padding: 0.5rem 0px;
  width: 100% !important;
}